
<md-dialog aria-label="addLink" style="padding : 30px;">
    <h3>{{name}}</h3>
    <form ng-cloak>

        <md-dialog-content style="width :400px;height : 300px" class="myContainer">
            
            <canvas chart id="myChart" width="400" height="300" element="el"></canvas>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <!-- <md-button ng-click="cancel()">
            Cancel
            </md-button> -->
            <md-button ng-click="answer()" class="md-primary">
                CLOSE
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>